
body {
    background-color: #9400D3;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.blok1{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok2{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 110px;
    margin-top: -110px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok3{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok4{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok5{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok6{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok7{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok8{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.blok9{
height: 100px;
width: 100px;
 background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

